
<div class="@(IsActive ? "brewing-card-active" : "brewing-card")">
    
</div>

@code {
    private Type _iconType;

    [Parameter]
    public bool IsActive { get; set; }

    [Parameter]
    public CoffeeType CoffeeType { get; set; }

    protected override void OnInitialized()
    {
        switch (CoffeeType)
        {
            case CoffeeType.Espresso:
                _iconType = typeof(EspressoIcon);
                break;
            case CoffeeType.Lungo:
                _iconType = typeof(LungoIcon);
                break;
            default:
                _iconType = typeof(CoffeeIcon);
                break;
        }
    }

}
