@page "/home"

<header>
    <NavigationItem Title="Optionen" Icon="gear-fill"></NavigationItem>
    <NavigationItem Title="Josua Egger" Icon="person-fill"></NavigationItem>
</header>
<main>
    <BrewingCard CoffeeType="CoffeeType.Espresso"></BrewingCard>
    <BrewingCard IsActive="true" CoffeeType="CoffeeType.Coffee"></BrewingCard>
    <BrewingCard CoffeeType="CoffeeType.Lungo"></BrewingCard>
</main>
<footer>
    <WarningCard></WarningCard>
</footer>

@code {

}
