@using SmartBohner.ControlUnit.Abstractions.Contracts
@implements IDisposable

<div class=@_currentCardState>
    @(WarningResource.ResourceManager.GetString(_lastMessageType.ToString()))
</div>

@code {
    private const string DEFAULT = "warning-card";
    private const string SLIDE_IN = "warning-card warning-card-in";
    private const string SLIDE_OUT = "warning-card warning-card-out";

    private string _currentCardState = DEFAULT;

    private Timer _timer;
    private MessageType? _lastMessageType = null;

    [Parameter]
    public EventCallback<bool> HasWarningChanged { get; set; }

    protected override void OnInitialized()
    {
        WarningHandler.Listen(OnWarningReceived);
    }

    private void OnWarningReceived(WarningResult result)
    {
        if (result.PinEventType == PinEventType.Rising)
        {
            if (_lastMessageType is null)
            {
                _currentCardState = SLIDE_IN;
                HasWarningChanged.InvokeAsync(true);
            }

            _lastMessageType = result.MessageType;
            RefreshTimer();
        }
        
        StateHasChanged();
    }

    private void RefreshTimer()
    {
        _timer = new Timer(2000);
        _timer.Elapsed += (s, e) =>
        {
            _currentCardState = SLIDE_OUT;
            _lastMessageType = null;
            _timer.Dispose();

            HasWarningChanged.InvokeAsync(true);
            StateHasChanged();
        };

        _timer.Enabled = true;
    }

    public void Dispose() => WarningHandler.Stop();
}
