<div class=@_currentCardState>
</div>

@code {
    private const string SLIDE_IN = "warning-card warning-card-in";
    private const string SLIDE_OUT = "warning-card warning-card-out";

    private string _currentCardState = SLIDE_IN;
}
