.button-left {
    background-color: #364244;
    color: #9B4E00;
    width: 200px;
    height: 200px;
    text-align:center;
    font-size: 32px;
    float: inline-start;
    border: none;
    background-image: url('icons_coffe/coffee.svg');
    border-radius: 15%;
}
.button-center {
    background-color: #364244;
    color: #9B4E00;
    width: 200px;
    height: 200px;
    border: none;
    float: inherit;
    text-align: center;
    font-size: 32px;
    background-image: url('icons_coffe/espresso.svg');
    border-radius: 15%;
}

.button-right {
    background-color: #364244;
    color: #9B4E00;
    width: 200px;
    height: 200px;
    text-align: center;
    float: inline-end;
    font-size: 32px;
    border: none;
    background-image: url('icons_coffe/espresso_lungo.svg');
    border-radius: 15%;
}
.button-float-right {
    color: white;
    background-color: mediumvioletred;
    float: right;
    border-radius: 25px
}
.button-left:hover {
    background-color: #424D4F;
}
.button-center:hover {
    background-color: #424D4F;
}
.button-right:hover {
    background-color: #424D4F;
}