.button-left {
    background-color: #364244;
    color: #9B4E00;
    width: 600px;
    height: 200px;
    text-align:center;
    font-size: 32px;
    /*float: inline-start;*/
    border: none;
    background-image: url('icons_coffe/coffee.svg');
    border-radius: 15%;
    position: relative;
    top:30px; 
}
.button-center {
    background-color: #364244;
    color: #9B4E00;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 32px;
   /* float: inline-start;*/
    border: none;
    background-image: url('icons_coffe/espresso.svg');
    image-resolution: initial;
    border-radius: 15%;
    position: relative;
    top: 30px;
}

.button-right {
    background-color: #364244;
    color: #9B4E00;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 32px;
   /* float: inline-start;*/
    border: none;
    background-image: url('icons_coffe/espresso_lungo.svg');
    border-radius: 15%;
    position: relative;
    top: 30px;
}
.button-float-right {
    color: white;
    font-size: 10px;
    background-color: transparent;
    float: right;
    border-radius: 5px;
    /*position:absolute;*/
    top: 0px;
    right: 0px;
}
.button-left:hover {
    background-color: #424D4F;
}

.button-center:hover {
    background-color: #424D4F;
}
.button-right:hover {
    background-color: #424D4F;
}