<div class="banner-info">
     @messageText
    <button type="submit" class="button-float-right">x</button>
</div>

@code {

    [Parameter]
    public string messageText { get; set; }
    [Parameter]
    public EventCallback OnValidSubmitCallBack { get; set; }
}