@page "/"
<style>
    body{background-color:#232323; color:#9B4E00; font-family:Pacifico} 
    h1 {text-align:center;}
    header{color:red;}
    </style>
    
<PageTitle>Index</PageTitle>

<h1>Willkommen beim Smartbohener</h1>

<button class="button-left">Kaffee</button>
<button class="button-center">Espresso</button>
<button class="button-right">Espresso Lungo</button>



