@page "/"



<style>
    body{background-color:#232323; color:#9B4E00; font-family:Pacifico} 
    h1 {text-align:center;}
    header{color:red;}
    </style>
    @if (visible == true)
{
    <Banner messageText=>
              
    </Banner>     
}
<PageTitle>Index</PageTitle>

<h1>Willkommen beim Smartbohener</h1>

<button class="button-left" onclick="MakeCoffee">Kaffee</button>
<button class="button-center" onclick="MakeEspresso" >Espresso</button>
<button class="button-right" onclick="MakeEspressoLungo" >Espresso Lungo</button>



@code {
    //public async Task MakeCoffee()
    //{
    //    
    //}
    //public async Task MakeEspresso()
    //{
    //    
    //}
    //public async Task MakeEspressoLungo()
    //{
    //    
    //}
    private bool visible = true;
    public async Task<bool> Dismiss()
    {
      return visible == false;
    
    }
    massa

}
