@page "/"
@using System.Text.Json
@inject HttpClient http
<style>
    body {
        background-image: url(../mobile/css/icons_coffe/Wood.jpg);
        background-color: #232323;
        color: ivory;
        font-family: Pacifico
    }

   
</style>

<PageTitle>Index</PageTitle>
<header>
    <h1>Willkommen beim Smartboner</h1>
</header>


<main>
<button class="button-main" @onclick="MakeCoffee">Kaffee</button>
<button class="button-main" @onclick="MakeEspresso">Espresso</button>
<button class="button-main" @onclick="MakeEspressoLungo">Espresso Lungo</button>
</main>


<footer>
    <button class="button-footer">Wasser</button>
    <button class="button-footer">Aroma Plus</button>
    <button class="button-footer">Entkalken</button>
    <button class="button-footer">Wasserdampf</button>
    <button class="button-footer" @onclick="SwitchOff">AusSchalten</button>
</footer>
<Bannerinfo></Bannerinfo>
 



@code {
    public async Task MakeCoffee()
    {
        var data = await http.GetAsync("/api/Coffee/Coffee");

    }
    public async Task MakeEspresso()
    {
        var data = await http.GetAsync("/api/Coffee/Espresso");
    }
    public async Task MakeEspressoLungo()
    {
        var data = await http.GetAsync("/api/Coffee/Lungo");
    }
    public async Task SwitchOff()
    {
        var data = await http.GetAsync("/api/CoffeMaschine/ShutDown");
    }
    private bool visible = true;

  

}
