<div class="banner">
    <button @onclick="@Dismiss" class="float-right">x</button>
   @messageText
</div>

@code {
    private void Dismiss()
    {
        
    }
    [Parameter]
    public string messageText { get; set; }
}