<div class="row">
    <div class="col-4 d-flex justify-content-start">
        <HomeBrewingItem IsActive=false></HomeBrewingItem>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <HomeBrewingItem IsActive=true></HomeBrewingItem>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <HomeBrewingItem IsActive=false></HomeBrewingItem>
    </div>
</div>

@code {

}
