.card {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    border-radius: 25px;
}

.card-active {
    background-color: #364244;
    height: 300px;
    width: 300px;
}

.card-inactive {
    background-color: #2D3638;
    height: 205px;
    width: 205px;
}
