@page "/home"

<div class="d-flex flex-column h-100">
    <div class="h-15">
        <HomeNavigation></HomeNavigation>
    </div>
    <div class="h-70">
        <HomeBrewingList></HomeBrewingList>
    </div>
    <div class="h-15">
        <HomeWarning></HomeWarning>
    </div>
</div>

@code {

}
