.btn-navigation {
    height: 40px;
    width: 160px;
    background-color: #364244;
    color: #CF6800;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.btn-navigation-icon {
    height: 20px;
    width: 20px;
    fill: #9B4E00;
}
