name: .NET

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        
    - name: Docker Setup QEMU
      uses: docker/setup-qemu-action@v1.2.0
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v1.6.0
    - name: Docker Login
      uses: docker/login-action@v1.10.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Publish
      run: dotnet publish $GITHUB_WORKSPACE/src/SmartBohner.Web/Server/ -c Release -r linux-arm

    - name: Build
      run: docker build -t smartbohner-web --platform linux/arm ./src/
      
    - name: Tag
      run: docker tag smartbohner-web refame/smart-bohner
      
    - name: Push
      run: docker push refame/smart-bohner
      
   
        
